

/* top banner style start */

.banner-top{
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    margin:3%;
    border-radius: 35px;
    background-color: black;
    margin-bottom: 80px;
}
.banner-left h1{
    font-size: 65px;
    color: white;
}
.banner-left button{
    margin-bottom: 30px;
    padding:10px 24px;
    background-color:#DD0000;
    color:white;
    border: white;
    border-radius: 5px;
}
.banner-left p{
    margin-bottom: 15px;
    color:white
}
.banner-right img{
    width:140%;
}
/* top banner style end */

/* section menu style start*/
.section-button a{
    display: block;
    text-decoration: none;
    padding:20px 30px;
    border: 2px solid black;
    margin-bottom: 15px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 15px;
}
.section-button{
    border: 2px solid orange;
    width:15%;
    padding:30px;
    height: 220px;
    background-color: black;
    border-radius: 15px;
}
/* section menu style end */

/* section card style start */

.main-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}
.all-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:10px;
    grid-column-gap:10px
}
.card img{
    width:90%
}
/* section card style end */
/* footer style start */
.footer{
    background-color: beige;
    padding:70px;
}
.footer h1{
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}
.footer-list ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
}
.footer-list{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

/* footer style end */