body{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu Mono', monospace;
}

/* top banner style start */

.banner-top{
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    margin:3%;
    border-radius: 35px;
    background-color: black;
    margin-bottom: 80px;
}
.banner-left h1{
    font-size: 65px;
    color: white;
}
.banner-left button{
    margin-bottom: 30px;
    padding:10px 24px;
    background-color:#DD0000;
    color:white;
    border: white;
    border-radius: 5px;
}
/*---------- .banner-left hover ----------*/
.banner-left button:hover{
    transform: scale(0.9);
    transition-duration: 0.8s;
    background-color: #7f53c7;
}
.banner-left p{
    margin-bottom: 15px;
    color:white;
    font-size: 14px;
    font-weight: 400;
}
.banner-right img{
    width:140%;
}
/* -----------top banner style end------------- */

/* -------------section menu style start----------*/
.section-button a{
    display: block;
    text-decoration: none;
    padding:20px 30px;
    border: 2px solid black;
    margin-bottom: 15px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 15px;
}
/*---------------- .section-button hover -------------*/
.section-button a:hover{
    transform: scale(0.9);
    transition-duration: 0.8s;
    background-color: #DD0000;
    color: white;
}
.section-button .blog{
    background-color: #DD0000;
    color: white;
}
.section-button{
    border: 2px solid orange;
    width:15%;
    padding:30px;
    height: 220px;
    background-color: black;
    border-radius: 15px;
}
/*------------- section menu style end--------------- */

/*-------------- section card style start --------------*/

.main-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}
.card{
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
}
/* ---------------.card hover ----------------*/
.card:hover{
    transform: scale(0.9);
    transition-duration: 0.9s;
}
.all-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:20px;
    grid-column-gap:20px;
}
.card-in{
    margin-left: 20px;
    margin-bottom: 20px;
}
.card-in button{
    padding: 4px 14px;
    font-weight: 500;
}
.card-in p{
    font-size: 12;
    font-weight: 600;
}
.card-in span{
    color:#9e9d9d
}
.card-in i{
    color:#6b6a6a
}
.card img{
    width:100%
}
/* --------------section card style end ---------------*/


/* -------------------footer style start----------------- */
.footer{
    background-color: #161616;
    padding:90px;
    color:white;
}
.footer h1{
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #FFFFFF ;
    width: 700px;
    margin: 0 auto;
}
.footer-list ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
}
.footer-list{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

/* footer style end */

/* -----matches style added from another html file start --------*/

/* side bar style start */

.section-button .upcoming{
    background-color: #DD0000;
    color: white;
}
.section-button{
    font-size: 16px;
    font-weight: 700;
}

/* side bar style end */

.match-history{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}
.all-matches{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap:20px
}
.match{
    padding:30px;
    box-shadow: 3px 3px 20px #b9b8b8;
}
/*------------ .match honer --------------*/
.match:hover{
    transform: scale(0.9);
    transition-duration: 0.9s;
}
.match img{
    padding:8px
}
.sp-vs{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
}
.match h2{
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}
.match p{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
/* -----matches style added from another html file end --------*/